
@{
    ViewBag.Title = "AddBlogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .label_input {
        padding-left:30px;
        padding-top:30px;
        padding-bottom:20px;
    }

    .font_size {
        font-size:20px;
    }
</style>


<script src="~/Content/ueditor/ueditor.config.js"></script>

<script src="~/Content/ueditor/ueditor.all.js"></script>

<link href="~/Content/ueditor/themes/iframe.css" rel="stylesheet" />

<script src="~/Content/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">

        var editor = new baidu.editor.ui.Editor({

            UEDITOR_HOME_URL: '/Content/ueditor/',//配置编辑器路径

            iframeCssUrl: '/Content/ueditor/themes/iframe.css',//样式路径

            initialContent: '欢迎使用ueditor',//初始化编辑器内容

            autoHeightEnabled: true,//高度自动增长

            minFrameHeight: 100//最小高度

        });

        editor.render('editor');

</script>

@using (Ajax.BeginForm("AddBlogs", "Blogs", new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "AddSuccess",
    Confirm = "确认提交数据吗？",
}))
{
        <div class="label_input form-label">
            <label class="font_size">博客标题：</label>
            <input type="text" class="form-control" placeholder="博客标题" value="" name="BlogsHeading">
        </div>

        <div class="label_input form-label">
            <label class="font_size">博客副标题：</label>
            <input type="text" class="form-control" placeholder="博客副标题" value="" name="BlogsSubHeading">
        </div>

        <div class="label_input form-label">
            <label class="font_size">博客封面图：</label>
            @*<input type="text" class="form-control" placeholder="博客封面图" value="" name="BlogsSurfacePlot">*@
            <input type="file" id="AjaxFileUpload" name="file" style="display:inline" /><input type="button" name="AjaxFileUploadButton" value="图片上传" />
        </div>

        <div id="SurfacePlot" class="preview" style="display: block;">
            @*<img src="http://ww4.sinaimg.cn/large/87c01ec7gy1fpceti1hxtj20bf0ab75e.jpg" style="padding-left:35%">*@
        </div>

        <div class="label_input form-label">
            <label class="font_size">博客简介：</label>
            <input type="text" class="form-control" placeholder="博客简介" value="" name="BlogsAbstract">
        </div>

        <div class="label_input form-label">
            <label class="font_size">博客内容：</label>
            <textarea id="editor" name="editor" style="margin:0 auto;width:99%"></textarea>
        </div>
        <input class="btn btn-success btn-block" style="background-color:dodgerblue;color:white" type="submit" value="提交" />
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Content/js/Blogs/ajaxfileupload.js"></script>
<script src="~/Content/js/juicer.js"></script>

<script id="SurfacePlot_Temp" type="text/template">
    <img src="${SurfacePlot.Url}" style="padding-left:35%" data-id="${SurfacePlot.Id}" data-name="${SurfacePlot.Name}">
</script>


<script type="text/javascript">
    function AddSuccess(data) {
        if (data.Success)
            toastr.success(data.SuccessModel);
        else
            toastr.success("博客创建失败！");
    }

    /*
     * 注册上传事件
     */
    $("input[name='AjaxFileUploadButton']").click(function () {
        if ($("#AjaxFileUpload").val().length > 0) {
            AjaxFileUpload();
        } else {
            alert("请选择需要上传的图片！");
        }
    });

    /*
     * 图片上传
     */
    function AjaxFileUpload() {
        $.ajaxFileUpload
        (
            {
                url: "/Blogs/AjaxFileUpload",
                type: "Post",
                secureuri: false,
                fileElementId: 'AjaxFileUpload',
                dataType: "json",
                success: function (data) {
                    var SurfacePlotItem = { FileId: data.FileId, FileName: data.FileName, PhysicalPathm: data.FilePhysicalPath, VirualPath: data.FileVirualPath };

                    $("#SurfacePlot").html(juicer($("#SurfacePlot_Temp").html(), { SurfacePlot: SurfacePlotItem }))
                }
            }
        )
    }

    /*
     * 删除上传图片
     */
    function DelUploadFile() {


    }
</script>