
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CSS
================================================== -->
<link href="~/Content/css/Blogs/main.css" rel="stylesheet" />

<div id="main">
    @Html.Action("_PartialIndex", "Blogs" , new { Page = ViewBag.Page, PageSize = ViewBag.PageSize })
</div>



<!-- script
    ================================================== -->
<script src="~/Content/js/Blogs/main.js"></script>
<script src="~/Content/js/Blogs/util.js"></script>
<script src="~/Content/js/Blogs/skel.min.js"></script>